{# templates/post/_image.html.twig #}
{# include of templates/post/_form.html.twig #}
<div class="custom-form-container">
    {{ form_widget(form.path) }}
    <div class="d-flex flex-column mb-3">
        {# Column for file upload (if applicable) #}
        {% if form.file is defined %}
            <div class="col-md-6 mb-3">
                <img 
                    id="preview-{{ form.file.vars.id }}" 
                    src="#" 
                    alt="Preview" 
                    class="img-thumbnail mb-2 d-none" 
                    style="max-width: 325px; height: auto;" />
                {{ form_row(form.file, {
                    attr: {
                        'data-preview-target': 'preview-' ~ form.file.vars.id
                    }
                }) }}
            </div>
        {% endif %}

        {# Column for publication date #}
        <div class="col-md-6 mb-3">
            {{ form_label(form.releasedThe, 'Publish the (Not required)', { 'label_attr': {'class': 'form-label text-light'} }) }}
            {{ form_widget(form.releasedThe, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>

    {# Preview image if available #}
    {% if form.vars.data is not null %}
        <div class="text-center mb-3">
            <img 
                src="{{ asset('build/medias/post/' ~ form.vars.data.path) }}" 
                class="img-thumbnail"
                style="max-width: 325px; height: auto;"
                alt="Image preview">
        </div>
    {% endif %}

    {# Button to delete the image #}
    <div class="text-center">
        <button type="button" class="btn btn-danger btn-remove">
            Delete
        </button>
    </div>
</div>